
@if (ShowNameEditDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change the name of @Machine.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            @onclick="() => CloseDialog(false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <EditForm Model="@Machine"
                          OnValidSubmit="@HandleValidSubmit"
                          OnInvalidSubmit="@HandleInvalidSubmit">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="name" class="col-sm-3">Name: </label>
                            <InputText id="Name" class="form-control col-sm-8" @bind-Value="@Machine.Name" placeholder="Enter the Name for the machine"></InputText>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary edit-btn">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    @onclick="() => CloseDialog(false)">
                                Cancel
                            </button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
